* {
  box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

h1 {
    margin-top: 20px;
}

h2 {
  text-align: center;
  letter-spacing: 3px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.seccion {
  font-size: 1.5em;
}

.kg {
  border-bottom: 1px solid #DBDBDB;
  padding-top: 10px;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
  width: 100%;
  height: 50px;
  z-index: 1;
  
}

.kg,
.nav,
.nav-container {
  background-color: #F7f7f7;
}

.kg a {
  color: #000;
  padding: 5px;
}

/***************header and navigator**************/
.header,
.nav {
  text-align: center; 
}

.header {
  position: relative;
}


.nav{
 width: 90%;
  margin: 50px auto 0;
 
}

.nav li {
   display: block;
  font-size: 1.2em;
  border-bottom: 1px dotted #000;
  padding: 10px 0;
}

.nav li a {
  text-align: center;
  color: #000;
  padding: 10px 85px ;
}

.nav li a:hover {
  font-size: 1.1em;
}
/***************presentation**************/


.presentation {
  background-image: url(../img/tlaxcala.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFF;
  height: 55vh;
  box-shadow: inset 0 0 50px 7px rgba(0,0,0, 1);
}

.nombre {
  font-size: 3.5em;
  padding-top:10px;
  padding-left: 15px;
  margin-bottom: 22px;
  font-weight: 900;
}

.ir-portfolio {
  display: inline-block;
  color: #000;
  font-weight:500;
  font-size: 15px;
  transition: color .4s;
  padding: 11px 15px 15px 12px;
}

.ir-portfolio:hover {
  color: #FFF;
}

.botton_portafolio {
  list-style: none;
  margin-left: 18px;
  text-transform: uppercase;
  display: block;
  height: 43px;
  width: 158px;
  border: 2px solid #000;
  transition: background-color .5s;
  
}

.botton_portafolio:hover {
  background-color: #000;
  cursor: pointer;
}

/***************   acerca    **************/

.acerca {
  background-color: #000;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;

}

#acerca p,
#trayectoria p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 20px 25px;
}

.acerca_de {
  margin-top: 0;
  padding-top: 0, 20px;
  font-size: 2.2em;
  letter-spacing: 3px;
  font-weight: 300;
}

/***************   Fotos de obras    **************/

.photo-container {
  margin: 10px 15px;
  padding: 10px;
}

.foto {
  position: relative;
  padding: 0 0 1px;
  overflow: hidden;
}

.sobre-foto p {
  padding: 0 10px;
}

.sobre-foto {
  background: rgba(0,0,0, .6 );
  color: #FFF;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .6s;
}

.sobre-foto h3,
.sobre-foto p {
  text-align: center;
}

.sobre-foto:hover {
  opacity:1; 
}

.max-boton {
  display: block;
  background-color: #BDBFBF;
  width: 60%;
  text-align: center;
  font-size: 1.2em;
  height: 50px;
  border-radius: 10px;
  padding-top: 14px;
}

.foto img {
 transform-origin: top left; 
  transition: transform .3s;
}

.foto:hover img{
  transform: scale(1.1);
}

.max-boton {
  list-style: none;
  display: block;
  position: relative;
}

.zoom-foto {
  display: inline-block;
  color: #000;
  padding: 15px 33px;
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

/***************   Demos    **************/

#demo {
  background: #000;
  padding: 7px 0 20px;
  color: #FFF;
  text-align: left;
}

iframe {
  width: 90%;
  height: 380px;
  border: 1px solid #000;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.video h3 {
  font-size: 1.3em;
  margin-left: 5%;
}

.demo1 {
  border-bottom: 1px solid #fff;
}

.demo3 {
    border-top: 1px solid #FFF;
}

.demo1, .demo3 {
  margin: 0 5%;
}

/***************   Trayectoria    **************/

#trayectoria_teatro,
#trayectoria_cine,
#trayectoria_television {
  display: none;
}

.medios {
  margin-bottom: 30px;
}

.boton_teatro {
  margin-left: 20px;  
  border-bottom: 1px solid #000;
}

.boton_teatro:hover {
cursor: pointer;
}

#trayectoria_teatro div:last-child,
#trayectoria_cine div:last-child,
#trayectoria_television div:last-child {
  margin-bottom: 30px;
}

.plataforma {
  font-size: 1.1em;
  border-bottom: 2px solid #000;
  padding: 5px;
  margin: 0 auto;
}

.obras-teatro {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}

.obras-teatro h4 {
  font-size: 1.2em;
  margin-bottom: 0;
}

/***************   Contacto    **************/
#contacto {
  background-image: url(../img/gris.jpg);
}

.frente {
  background-image: url(../img/sonriendo.png);
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin: 0 auto;
}

#contacto,
.frente {
  padding-top: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#social {
  width: 180px;
  margin: 30px auto 20px;;
  padding-left: 8px;
}

.mail,
.social {
  display: inline-block;
  margin: 0 5px;
}

.social a {
  text-decoration: none;
  color: #000;
}

.social a::before {
  content: url(../img/facebook-logo.png) ;
  margin-right: 10px;
}

/***************   Footer   **************/

footer {
  background-color: #696969; 
  text-align: center;
  height: 52px;
  color: #FFF;
}

footer p {
  padding-top: 13px;
  margin-top: 0;
}

#autor {
  color: #000;
}

/***************   Media Queries   **************/

@media(min-width: 850px){

.seccion {
  font-size: 2.2em;
}

.presentation {
  height: 80vh;
}

.nombre {
  margin-top: 70px;
  padding-top: 300px;
  font-size:4em;
}

.ir-portfolio {
  font-size: 20px;
}

.botton_portafolio {
  width: 200px;
  height: 50px;
}

.kg {
  display: block;
  width: 100%;
  z-index: 3; 
  font-size: 2em;
  padding: 15px 7px 55px 0;
  border: none;
}

.nav-container {
  width:100%;
  padding-left: 20%;
} 

.kg,
.nav {
box-shadow: -1px 1px 1px #B5B5B5;
}

.nav {
 width: 100%;
  margin-top: 70px;
  padding: 10px;
  padding-left: 13%;
  position: fixed;
  top: 0;
  right:0;
  z-index: 2;
}

.nav li {
  display: inline-block;
  width: 125px;
  float: left;
  border-bottom: 1px solid #DBDBDB;
  height: 50px;
  font-size: 1.3em;
  border-bottom: none;
}

.nav li:nth-child(1n+2) {
  border-left: 1px dotted #000;
}

.nav li a {
  padding-right: 0;
  padding-left: 0;
}

#galeria {
  padding-bottom: 120px;
}


.photo-container {
  float: left;
  width: 45%;
  max-height: 315px;
  padding: 5px;
  overflow: hidden;
}

 .rocker {
  overflow: visible;
}

.acerca_de {
  font-size: 2.4em;
}

#acerca p, 
#trayectoria p {
  padding: 15px 90px;
}

#portfolio {
  padding: 7px 7px 7px 20px;
}

iframe {
  width: 90%;
  height: 480px;
}

.video {
  width: 70%;
  margin: 0 auto;
}

.datos {
  font-size: 1.5em;
}

.frente {
  width: 200px;
  height: 200px;
}

.completa {
  width: 29%;
  overflow: visible;
}

.obras-teatro {
  width: 75%;
}

}

@media(min-width: 1070px) {

.home {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav {
  width: 84%;
  margin-top: 0;
}

.nombre {
 font-size: 6em; 
}

.ir-portfolio {
  font-size: 25px;
}

.botton_portafolio {
  width: 240px;
  height: 60px;
  margin-left: 20px;
}

.acerca_de {
  font-size: 2.7em;
}


.photo-container {
  width: 30%;
  max-height: 400px;
}  

#galeria {
  padding-left: 40px;
  padding-bottom: 190px;
}

.foto-gal {
  width: 30%;
}

.presentation {
  background-image: url(../img/portada.jpg);
}

.nav {
  padding-left: 15%;
}

 .kg {
  width: 350px;
}

 .rocker {
  padding-top: 65px;
  overflow: visible;
}

#portfolio {
  padding-left: 70px;
}

 .portfolio .photo-container:nth-child(3n+1){
  box-shadow: 1px 1px #FFF;
}

.demo1 {
  border-bottom: none;
}

.demo3 {
  border-top: none;
}

.video {
  float: left;
  width: 46%;
  margin: 0 2%
}

.video h3 {
  font-size: 1.8em;
}

.demo3 {
  margin-left: 28%;
}

.foto-gal:nth-child(8n) {
  clear: left;
}

#special {
  clear: none;
}

}

.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

